#containerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;

    img {
        width: 80%;
        margin-bottom: 10px;
    }

    #userType {
        color: #fff;
        font-size: 19px;
    }
}