@use "../../scss/colors.scss";

#SubCabecalho {
  position: relative;
  background-color: colors.$cinzaHeader;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  border-radius: 10px;

  select {
    width: 130px;
    outline: none;
    border: 1px solid colors.$lightBlack;
    color: colors.$lightBlack;
    border-radius: 5px;
    margin: 0px 10px;
    margin-right: 43%;
  }
  button {
    width: 200px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: #000;
    border: 1px solid colors.$lightBlack;
    text-align: start;
    border-radius: 5px;
    padding-left: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: colors.$corTema;
    color: #fff;
    transition: 120ms ease-in-out;
  }
}
