@use "../../scss/colors.scss";
#SubCabecalho {
  position: relative;
  box-sizing: border-box;
  background-color: colors.$cinzaHeader;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  border-radius: 10px;

  label {
    box-sizing: border-box;
    display: flex;
    width: 20%;

    select {
      outline: none;
      border: 1px solid colors.$lightBlack;
      border-radius: 5px;
      padding: 5px 10px;
      width: 45%;
      text-align: left;
      color: colors.$lightBlack;
      margin: 0px 5px;
    }
  }
  button {
    position: absolute;
    width: 20%;
    height: auto;
    right: 70px;
    text-align: start;
    padding: 0px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid colors.$lightBlack;
    background-color: #fff;
    color: colors.$lightBlack;
    cursor: pointer;
  }
  button:hover {
    background-color: colors.$corTema;
    color: #fff;
    transition: 150ms ease-in-out;
  }
}
