@use "../../scss/colors.scss";

#searchContainer {
  // position: absolute;
  border: 1px solid colors.$lightBlack;
  display: flex;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  right: 10px;

  img {
    width: 10%;
  }

  input {
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
    outline: none;
    width: 100%;
  }
}

.left {
  position: static;
}

.right {
  position: absolute;
}