@use "../../scss/colors.scss";

#containerHeaderPesquisa {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fff;
  padding: 20px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 4px 4px colors.$lightBlack;

  h1 {
    color: colors.$corTema;
  }
}