@use "../../../scss/colors.scss";

#containerAlunos {
  display: flex;

  main {
    width: 100%;
    background-color: colors.$corFundo;

    #corpopai {
      width: 98%;
      height: 86%;
      margin: auto;
      margin-top: 15px;
      background: white;
      box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.25);
      border-radius: 6px;
      overflow: auto;
      #cabecalho {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: white;
        box-shadow: 0px 4px 6px rgba(50, 50, 71, 0.25);
        border-radius: 4px;
        #textocab {
          width: 10%;
          margin: 0;
          padding: 0;
          color: #2e4ead;
        }
      }
    }
  }
}
